/build/
/install/
/log/
/install/*
/build/*
/log/*

__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

src/ai_drone/__pycache__/
src/ai_drone/ai_drone/__pycache__/

.env
.env.swp
/src/ai_drone/ai_drone/.env

/src/ai_drone/ai_drone/models/
/yolov8n.pt

/src/collect.py
/src/collected_sources.txt
/test.py

/media/
/log/
/latest_build

.vscode/
.idea/
